<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>index</title>
    
    {% load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
  </head>
  <body>
    {% if latest_question_list%}
        <ul>
          {% for q in latest_question_list %}
              <li><a href="{% url 'polls:detail' q.id %}">{{q.question_text}}</a></li>
          {% endfor %}
        </ul>
    {% else %}
        <h1>No polls are available </h1>
    {% endif %}
  </body>
</html>
